@import url("https://fonts.googleapis.com/css?family=Dosis:400,700");

.dash-panel {
  height: 230px;
  width: 230px;
  border: 3px solid #3d85ea;
  color: #3d85ea;
  border-radius: 50%;
  position: relative;
  display: flex;
  overflow: hidden;
  background: radial-gradient(#3d85ea 10%, #ffffff 10%);
}

.middle {
  display: flex;
  width: 50%;
  text-align: center;
  justify-content: center;
}

.dash-panel span {
  font-size: 20px;
  font-style: italic;
  position: absolute;
}
.dash-panel span:nth-child(1) {
  top: 60%;
  left: 8%;
}
.dash-panel span:nth-child(1):before {
  content: "";
  width: 3px;
  height: 10px;
  background-color: #3d85ea;
  position: absolute;
  transform: rotate(65deg) translate(10px, 14px);
}
.dash-panel span:nth-child(2) {
  top: 40%;
  left: 5%;
}
.dash-panel span:nth-child(2):before {
  content: "";
  width: 3px;
  height: 10px;
  background-color: #3d85ea;
  position: absolute;
  transform: rotate(87deg) translate(10px, 10px);
}
.dash-panel span:nth-child(3) {
  top: 22%;
  left: 15%;
}
.dash-panel span:nth-child(3):before {
  content: "";
  width: 3px;
  height: 10px;
  background-color: #3d85ea;
  position: absolute;
  transform: rotate(110deg) translate(10px, 15px);
}
.dash-panel span:nth-child(4) {
  top: 9%;
  left: 24%;
}
.dash-panel span:nth-child(4):before {
  content: "";
  width: 3px;
  height: 10px;
  background-color: #3d85ea;
  position: absolute;
  transform: rotate(138deg) translate(0px, 5px);
}
.dash-panel span:nth-child(5) {
  top: 3%;
  left: 47%;
}
.dash-panel span:nth-child(5):before {
  content: "";
  width: 3px;
  height: 10px;
  background-color: #3d85ea;
  position: absolute;
  transform: rotate(180deg) translate(-5px, 8px);
}
.dash-panel span:nth-child(6) {
  top: 8%;
  right: 25%;
}
.dash-panel span:nth-child(6):before {
  content: "";
  width: 3px;
  height: 10px;
  background-color: #3d85ea;
  position: absolute;
  transform: rotate(-138deg) translate(-15px, 20px);
}
.dash-panel span:nth-child(7) {
  top: 22%;
  right: 15%;
}
.dash-panel span:nth-child(7):before {
  content: "";
  width: 3px;
  height: 10px;
  background-color: #3d85ea;
  position: absolute;
  transform: rotate(-120deg) translate(-12px, 20px);
}
.dash-panel span:nth-child(8) {
  top: 40%;
  right: 7%;
}
.dash-panel span:nth-child(8):before {
  content: "";
  width: 3px;
  height: 10px;
  background-color: #3d85ea;
  position: absolute;
  transform: rotate(-90deg) translate(-10px, 37px);
}
.dash-panel span:nth-child(9) {
  top: 60%;
  right: 10%;
}
.dash-panel span:nth-child(9):before {
  content: "";
  width: 3px;
  height: 10px;
  background-color: #3d85ea;
  position: absolute;
  transform: rotate(-70deg) translate(-7px, 25px);
}
.dash-panel span:nth-child(10) {
  font-size: 0.8em;
  top: 70%;
  right: 42.5%;
}

.dash-panel span:nth-child(11) {
  font-size: 0.8em;
  top: 60%;
  right: 43%;
}

.dash {
  width: 5px;
  height: 70px;
  background-color: #3d85ea;
  position: relative;
  display: block;
  transition: all 2s ease;
  transform: rotate(60deg);
  transform-origin: top right;
  margin: 100px auto;
  margin-top: 50%;
  margin-right: 50%;
  border-radius: 0px 0px 50% 50%;
}

.active-ac {
  transform: rotate(293deg);
}

/* Carta de datos */

.element-card {
  position: relative;
  width: 150px;
  height: 130px;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.4);
  margin: 1%;
  margin-top: 1%;
}

.element-card .front-facing {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #ecf0f1;
  border: 2px white solid;
  border-radius: 5px;
}
.element-card .front-facing .abr {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  font-size: 35px;
  margin: -35px 0 0 0;
  text-align: center;
  color: #3498db;
}
.element-card .front-facing .title {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  font-size: 12px;
  margin: 15px 0 0 0;
  text-align: center;
  color: #3498db;
}