<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="height=device-height, initial-scale=1.0, shrink-to-fit=no">
    <title>Sensorized Network</title>
    <meta name="description" content="Plataforma que permite simular partidos NBA para observar posibles cambios en rotaciones de cara al futuro.">
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i&amp;display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.css">
    <link rel="stylesheet" href="static/css/vanilla-zoom.min.css">

    <link rel="stylesheet" href="static/css/andando.css">
    <link rel="stylesheet" href="static/css/acelerador.css">
</head>

<style>

    .sensor{
        padding: 1%;
        padding-left: 5%;
        padding-right: 5%;
    }

    .titulo {
	text-shadow: 17px -20px 1px #3d85ea
}

</style>

<body>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
            <div class="container"><a class="navbar-brand logo" href="index.html">RED SENSORIZADA WEB API</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"><a class="nav-link" href="index.html">INICIO</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle active" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            DATOS
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="visualizar_datos.html?type=Acelerómetro">Acelerómetro</a></li>
                                <li><a class="dropdown-item" href="visualizar_datos.html?type=Barómetro">Barómetro</a></li>
                                <li><a class="dropdown-item" href="visualizar_datos.html?type=Giroscopio">Giroscopio</a></li>
                                <li><a class="dropdown-item" href="visualizar_datos.html?type=Magnetómetro">Magnetómetro</a></li>
                                <li><a class="dropdown-item" href="visualizar_datos.html?type=Podómetro">Podómetro</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
    </nav>

    <main class="page">

        <div class="sensor">
            <h2 id="titulo" class="titulo" style="text-align: center; margin: 2%;">{{ sensor }}</h2>
            <h4 id="encendido" style="text-align: center; color: red; margin-bottom: 2%">El sensor se encuentra apagado</h4>
            <div id="Acelerómetro" style="display: none">
                <div class="row" style="margin: 1%; justify-content: center">
                    <div class="middle col">
                        <div class="dash-panel">
                            <span>0</span>
                            <span>0.5</span>
                            <span>1</span>
                            <span>1.5</span>
                            <span>2</span>
                            <span>2.5</span>
                            <span>3</span>
                            <span>3.5</span>
                            <span>4</span>
                            <span>m/s <sup>2</sup></span>
                            <span>Eje X</span>
                            <div id="dash" class="dash">
                            </div>
                        </div>
                    </div>
                    <div class="middle col">
                        <div class="dash-panel">
                            <span>0</span>
                            <span>0.5</span>
                            <span>1</span>
                            <span>1.5</span>
                            <span>2</span>
                            <span>2.5</span>
                            <span>3</span>
                            <span>3.5</span>
                            <span>4</span>
                            <span>m/s <sup>2</sup></span>
                            <span>Eje Y</span>
                            <div id="dash-y" class="dash">
                            </div>
                        </div>
                    </div>
                    <div class="middle col">
                        <div class="dash-panel">
                            <span>0</span>
                            <span>0.5</span>
                            <span>1</span>
                            <span>1.5</span>
                            <span>2</span>
                            <span>2.5</span>
                            <span>3</span>
                            <span>3.5</span>
                            <span>4</span>
                            <span>m/s <sup>2</sup></span>
                            <span>Eje Z</span>
                            <div id="dash-z" class="dash">
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin: 1%; justify-content: center">
                        <div class="element-card col">
                            <div class="front-facing">
                                <h1 id="actual-Acelerómetro" class="abr">0</h1>
                                <p class="title">m / s <sup>2</sup></p>
                            </div>
                        </div>
                        <div class="element-card col">
                            <div class="front-facing">
                                <h1 id="actual-Acelerómetro-y" class="abr">0</h1>
                                <p class="title">m / s <sup>2</sup></p>
                            </div>
                        </div>
                        <div class="element-card col">
                            <div class="front-facing">
                                <h1 id="actual-Acelerómetro-z" class="abr">0</h1>
                                <p class="title">m / s <sup>2</sup></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin: 1%; justify-content: center">
                    <div class="col-lg-9 col-xl-7">
                        <div class="card shadow mb-4">
                            <div class="card-header d-flex justify-content-between align-items-center">
                                <h6 class="text-primary fw-bold m-0">Aceleración</h6>
                                <div class="dropdown no-arrow"><button class="btn btn-link btn-sm dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button"><i class="fas fa-ellipsis-v text-gray-400"></i></button>
                                    <div class="dropdown-menu shadow dropdown-menu-end animated--fade-in">
                                        <p class="text-center dropdown-header">Filtros</p><a class="dropdown-item" href="#">&nbsp;Por minuto</a><a class="dropdown-item" href="#">&nbsp;Por hora</a>
                                        <div class="dropdown-divider"></div><a class="dropdown-item" href="#">&nbsp;Por dia</a>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="chart-area"><canvas id="grafica-Acelerómetro"></canvas></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="Barómetro" style="display: none">
<!--                https://codepen.io/ptigurius/pen/oqOraM-->
                <div id="chart_div" style="width: 400px; height: 120px;"></div>
                <div class="element-card col">
                    <div class="front-facing">
                        <h1 id="actual-Barómetro" class="abr">0</h1>
                        <p class="title">m / s <sup>2</sup></p>
                    </div>
                </div>
                <div class="row" style="margin: 1%; justify-content: center">
                    <div class="col-lg-9 col-xl-7">
                        <div class="card shadow mb-4">
                            <div class="card-header d-flex justify-content-between align-items-center">
                                <h6 class="text-primary fw-bold m-0">Aceleración</h6>
                                <div class="dropdown no-arrow"><button class="btn btn-link btn-sm dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button"><i class="fas fa-ellipsis-v text-gray-400"></i></button>
                                    <div class="dropdown-menu shadow dropdown-menu-end animated--fade-in">
                                        <p class="text-center dropdown-header">Filtros</p><a class="dropdown-item" href="#">&nbsp;Por minuto</a><a class="dropdown-item" href="#">&nbsp;Por hora</a>
                                        <div class="dropdown-divider"></div><a class="dropdown-item" href="#">&nbsp;Por dia</a>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="chart-area"><canvas id="grafica-Barómetro"></canvas></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="Giroscopio" style="display: none"></div>
            <div id="Magnetómetro" style="display: none"></div>
            <div id="Podómetro" style="display: none">
                <div class="row">
                    <div class="man">

                      <div class="arm front">
                        <div class="arm__top">
                          <div class="arm__fore"></div>
                        </div>
                      </div>

                      <div class="arm back">
                        <div class="arm__top">
                          <div class="arm__fore"></div>
                        </div>
                      </div>

                      <div class="head">
                        <div class="head__hair"></div>
                        <div class="head__ear"></div>
                        <div class="head__nose"></div>
                        <div class="head__eye"></div>
                      </div>

                      <div class="body">
                        <div class="body__belly"></div>
                      </div>
                      <div class="pelvis"></div>
                      <div class="leg">
                        <div class="leg__top">
                          <div class="leg__fore"></div>
                        </div>
                      </div>
                      <div class="leg back">
                        <div class="leg__top">
                          <div class="leg__fore"></div>
                        </div>
                    </div>
                </div>
                    <div class="element-card col">
                        <div class="front-facing">
                            <h1 id="actual-Podómetro" class="abr">8.27</h1>
                            <p class="title">m / s <sup>2</sup></p>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin: 1%; justify-content: center">
                    <div class="col-lg-9 col-xl-7">
                        <div class="card shadow mb-4">
                            <div class="card-header d-flex justify-content-between align-items-center">
                                <h6 class="text-primary fw-bold m-0">Pasos</h6>
                                <div class="dropdown no-arrow"><button class="btn btn-link btn-sm dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button"><i class="fas fa-ellipsis-v text-gray-400"></i></button>
                                    <div class="dropdown-menu shadow dropdown-menu-end animated--fade-in">
                                        <p class="text-center dropdown-header">Filtros</p><a class="dropdown-item" href="#">&nbsp;Por minuto</a><a class="dropdown-item" href="#">&nbsp;Por hora</a>
                                        <div class="dropdown-divider"></div><a class="dropdown-item" href="#">&nbsp;Por dia</a>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="chart-area"><canvas id="grafica-Podómetro"></canvas></div>
                            </div>
                        </div>
                    </div>
                </div>
            {# https://codepen.io/kylewetton/pen/yqWMOP #}
            </div>
        </div>

    </main>

    <footer class="page-footer dark"></footer>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.js"></script>
    <script src="static/js/vanilla-zoom.js"></script>
    <script src="static/js/theme.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
    <script>

        var myChart;
        var encendido = true;
        var valor = {{ sensor }};
        var sensores = ["Podómetro", "Batería", "Giroscopio", "Magnetómetro", "Acelerómetro", "Barómetro", "Proximidad", "Luminosidad", "GPS", "Termómetro", "Sensor de humedad"]
        var actualizacion = []
        window.onload = inicializar;

        function inicializar() {

            if (valor === "Todos") {

                for (var i = 0; i < sensores.length; i++) {
                    document.getElementById(sensores[i]).style.display = "block";
                    window["Inicializar" + sensores[i]];
                    crearGrafica(sensores[i]);
                    window.setInterval(actualizar,actualizacion[i]);
                }

            } else {

                document.getElementById(valor).style.display = "block";
                window["Inicializar" + valor];
                crearGrafica(valor);
                window.setInterval(actualizar,3000);

            }

        }

        function crearGrafica(sensor){
            const data2 = [];
            const fechas = []
            for (var i = 0; i < 1; i++) {
                data2.push(Math.random());
                fechas.push(i)
            }

            var r = 0;
            var g = 255;
            var b = 0;
            const data = {
                labels: fechas,
                datasets: [{
                    label: sensor,
                    backgroundColor: 'rgb(' + r + ',' + g + ',' + b +')',
                    borderColor: 'rgb(' + r + ',' + g + ',' + b +')',
                    data: data2,
                }]
            };

            const config = {
              type: 'line',
              data: data,
              options: {
                scales: {
                  x: {
                    type: "time",
                    title: {
                        display: true,
                        text: 'Fecha recogida de datos'
                    },
                    time: {
                        unit: 'month',
                        stepSize: 1
                    },
                    ticks: {
                        display: true,
                        source: 'auto'
                    }
                  },
                  y: {
                    title: {
                      display: true,
                      text: ""
                    }
                  }
                }
              },
            };

            myChart = new Chart(document.getElementById("grafica-" + sensor), config);
            myChart.canvas.parentNode.style.width = '100%';

        }

        function actualizar(sensor){
            var numero_x = Math.random() * 4;
            var numero_y = Math.random() * 4;
            var numero_z = Math.random() * 4;
            document.getElementById("actual-" + sensor).innerHTML = numero_x.toFixed(2);
            myChart.config.data.labels.push(myChart.config.data.labels[myChart.config.data.labels.length - 1] + 1);
            myChart.config.data.datasets[0].data.push(numero_x);
            myChart.update();
            if(valor === "Acelerómetro"){
                giro_x = 60 + numero_x * 57.5;
                giro_y = 60 + numero_y * 57.5;
                giro_z = 60 + numero_z * 57.5;
                document.getElementById("actual-" + valor + "-y").innerHTML = numero_y.toFixed(2);
                document.getElementById("actual-" + valor + "-z").innerHTML = numero_z.toFixed(2);
                document.getElementById("dash").style.transform = "rotate(" + giro_x + "deg)";
                document.getElementById("dash-y").style.transform = "rotate(" + giro_y + "deg)"
                document.getElementById("dash-z").style.transform = "rotate(" + giro_z + "deg)"
            }
        }

    </script>

    <script type="text/javascript">
        google.charts.load('current', {'packages':['gauge']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

            var data = google.visualization.arrayToDataTable([
                ['Label', 'Value'],
                ['Barómetro', 35],

            ]);

            var options = {
                width: 400, height: 120,
                redFrom: 87, redTo: 100,
                yellowFrom:75, yellowTo: 87,
                minorTicks: 5
            };

            var chart = new google.visualization.Gauge(document.getElementById('chart_div'));

            chart.draw(data, options);



        }
    </script>
</body>

</html>