<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="height=device-height, initial-scale=1.0, shrink-to-fit=no">
    <title>Sensorized Network</title>
    <meta name="description" content="Plataforma de muestreo de datos sensoriales captados por móvil">
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i&amp;display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.css">

    <link rel="stylesheet" href="static/css/vanilla-zoom.min.css">
    <link rel="stylesheet" href="static/css/bateria.css">


    <link rel="stylesheet" href="static/css/andando.css">
    <link rel="stylesheet" href="static/css/luminosidad.css">
    <link rel="stylesheet" href="static/css/acelerador.css">
    <link rel="stylesheet" href="static/css/telefono.css">
    <link rel="stylesheet" href="static/css/temperatura.css">
    <link rel="stylesheet" href="static/css/proximidad.css">
    <link rel="stylesheet" href="static/css/magnetometro.css">

    <link rel="stylesheet" href="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/css/ol.css" type="text/css">
    <link rel="stylesheet" href="static/js/ol-ext/ol-ext.css" media="all">
    <link rel="stylesheet" href="static/css/mapa.css">
    <link rel="stylesheet" href="static/css/ol-layerswitcher.css" type="text/css">


</head>

<style>

    .sensor{
        padding: 1%;
        padding-left: 5%;
        padding-right: 5%;
    }

    .titulo {
        text-shadow: 17px -20px 1px #3d85ea
    }

</style>

<body>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
            <div class="container"><a class="navbar-brand logo" href="/">RED SENSORIZADA WEB API</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"><a class="nav-link" href="/">INICIO</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle active" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            DATOS
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <form action="/visualizar_datos" method="post">
                                    <li><input type="submit" class="dropdown-item" name="sensor" value="Acelerómetro"></li>
                                    <li><input type="submit" class="dropdown-item" name="sensor" value="Temperatura"></li>
                                    <li><input type="submit" class="dropdown-item" name="sensor" value="Giroscopio"></li>
                                    <li><input type="submit" class="dropdown-item" name="sensor" value="Magnetómetro"></li>
                                    <li><input type="submit" class="dropdown-item" name="sensor" value="Podómetro"></li>
                                    <li><input type="submit" class="dropdown-item" name="sensor" value="Batería"></li>
                                    <li><input type="submit" class="dropdown-item" name="sensor" value="Proximidad"></li>
                                    <li><input type="submit" class="dropdown-item" name="sensor" value="Luminosidad"></li>
                                    <li><input type="submit" class="dropdown-item" name="sensor" value="GPS"></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><input type="submit" class="dropdown-item" name="sensor" value="Todos"></li>
                                </form>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
    </nav>

    <main class="page">

        <div class="sensor">
            <h2 id="titulo" class="titulo" style="text-align: center; margin: 2%;">{{ sensor }}</h2>
            <div id="indicadorBateria" class="bateria-min"></div>
            <h4 id="encendido" style="text-align: center; color: green; margin-bottom: 2%"></h4>
            <div id="Acelerómetro" style="display: none">
                <div class="row" style="margin: 1%; justify-content: center">
                    <div class="middle col">
                        <div class="dash-panel">
                            <span>0</span>
                            <span>0.5</span>
                            <span>1</span>
                            <span>1.5</span>
                            <span>2</span>
                            <span>2.5</span>
                            <span>3</span>
                            <span>3.5</span>
                            <span>4</span>
                            <span>m/s <sup>2</sup></span>
                            <span>Eje X</span>
                            <div id="dash" class="dash">
                            </div>
                        </div>
                    </div>
                    <div class="middle col">
                        <div class="dash-panel">
                            <span>0</span>
                            <span>0.5</span>
                            <span>1</span>
                            <span>1.5</span>
                            <span>2</span>
                            <span>2.5</span>
                            <span>3</span>
                            <span>3.5</span>
                            <span>4</span>
                            <span>m/s <sup>2</sup></span>
                            <span>Eje Y</span>
                            <div id="dash-y" class="dash">
                            </div>
                        </div>
                    </div>
                    <div class="middle col">
                        <div class="dash-panel">
                            <span>0</span>
                            <span>0.5</span>
                            <span>1</span>
                            <span>1.5</span>
                            <span>2</span>
                            <span>2.5</span>
                            <span>3</span>
                            <span>3.5</span>
                            <span>4</span>
                            <span>m/s <sup>2</sup></span>
                            <span>Eje Z</span>
                            <div id="dash-z" class="dash">
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin: 1%; justify-content: center">
                        <div class="element-card col">
                            <div class="front-facing">
                                <h1 id="actual-Acelerómetro" class="abr">0</h1>
                                <p class="title">m / s <sup>2</sup></p>
                            </div>
                        </div>
                        <div class="element-card col">
                            <div class="front-facing">
                                <h1 id="actual-Acelerómetro-y" class="abr">0</h1>
                                <p class="title">m / s <sup>2</sup></p>
                            </div>
                        </div>
                        <div class="element-card col">
                            <div class="front-facing">
                                <h1 id="actual-Acelerómetro-z" class="abr">0</h1>
                                <p class="title">m / s <sup>2</sup></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin: 1%; justify-content: center">
                    <div class="col-lg-9 col-xl-7">
                        <div class="card shadow mb-4">
                            <div class="card-header d-flex justify-content-between align-items-center">
                                <h6 class="text-primary fw-bold m-0">Aceleración del dispositivo</h6>
                                <div class="dropdown no-arrow"><button class="btn btn-link btn-sm dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button"><i class="fas fa-ellipsis-v text-gray-400"></i></button>
                                    <div class="dropdown-menu shadow dropdown-menu-end animated--fade-in">
                                        <p class="text-center dropdown-header">Filtros</p><a class="dropdown-item" href="#">&nbsp;Por minuto</a><a class="dropdown-item" href="#">&nbsp;Por hora</a>
                                        <div class="dropdown-divider"></div><a class="dropdown-item" href="#">&nbsp;Por dia</a>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="chart-area"><canvas id="grafica-Acelerómetro"></canvas></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="Temperatura" style="display: none">
                <div class="row" style="margin: 1%; justify-content: center">
                    <div class="col" id="chart_div" style="display: flex; justify-content: center"></div>
                    <div class="col" style="display: flex; justify-content: center">
                        <div class="donation-meter">
                            <span class="glass">
                                <span class="amount" style="height: 50%"></span>
                            </span>
                            <div class="bulb">
                                <p class="bulb-text">10ºC</p>
                                <span class="red-circle"></span>
                                <span class="filler">
                                    <span></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col" style="display: flex; justify-content: center; align-items: center">
                        <div class="drop">
                            <p class="drop-text">10%</p>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin: 1%; justify-content: center">
                    <div class="element-card col">
                        <div class="front-facing">
                            <h1 id="actual-Barómetro" class="abr">0</h1>
                            <p class="title">Hectopascales</p>
                        </div>
                    </div>
                    <div class="element-card col">
                        <div class="front-facing">
                            <h1 id="actual-Temperatura" class="abr">0</h1>
                            <p class="title">ºC</p>
                        </div>
                    </div>
                    <div class="element-card col">
                        <div class="front-facing">
                            <h1 id="actual-Humedad" class="abr">0</h1>
                            <p class="title">%</p>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin: 1%; justify-content: center">
                    <div class="col-lg-9 col-xl-7">
                        <div class="card shadow mb-4">
                            <div class="card-header d-flex justify-content-between align-items-center">
                                <h6 class="text-primary fw-bold m-0">Temperatura</h6>
                                <div class="dropdown no-arrow"><button class="btn btn-link btn-sm dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button"><i class="fas fa-ellipsis-v text-gray-400"></i></button>
                                    <div class="dropdown-menu shadow dropdown-menu-end animated--fade-in">
                                        <p class="text-center dropdown-header">Filtros</p><a class="dropdown-item" href="#">&nbsp;Por minuto</a><a class="dropdown-item" href="#">&nbsp;Por hora</a>
                                        <div class="dropdown-divider"></div><a class="dropdown-item" href="#">&nbsp;Por dia</a>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="chart-area"><canvas id="grafica-Temperatura"></canvas></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="Batería" style="display: none">
                <div class="row" style="margin: 1%; justify-content: center">
                    <div id="indicadorBateria" class="bateria"></div>
                </div>
                <div class="row" style="margin: 1%; justify-content: center">
                    <div class="col-lg-9 col-xl-7">
                        <div class="card shadow mb-4">
                            <div class="card-header d-flex justify-content-between align-items-center">
                                <h6 class="text-primary fw-bold m-0">Batería</h6>
                                <div class="dropdown no-arrow"><button class="btn btn-link btn-sm dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button"><i class="fas fa-ellipsis-v text-gray-400"></i></button>
                                    <div class="dropdown-menu shadow dropdown-menu-end animated--fade-in">
                                        <p class="text-center dropdown-header">Filtros</p><a class="dropdown-item" href="#">&nbsp;Por minuto</a><a class="dropdown-item" href="#">&nbsp;Por hora</a>
                                        <div class="dropdown-divider"></div><a class="dropdown-item" href="#">&nbsp;Por dia</a>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="chart-area"><canvas id="grafica-Batería"></canvas></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="Giroscopio" style="display: none">
                <div class="row" style="margin: 1%; justify-content: center">
                    <div class="total-x col">
                        <div class="celular">
                            <div class="pelicula">
                                <header class="topo">
                                    <div class="camera">
                                         <div class="cameraL">
                                             <div class="flash"></div>
                                         </div>
                                        </div>
                                    <div class="linha">
                                        <div class="opera1"></div>
                                        <div class="opera2"></div>
                                        <div class="opera3"></div>
                                        <div class="opera4"></div>
                                        <div class="opera5"></div>

                                    </div>
                                    <div class="bat"></div>
                                </header>
                            </div>
                        </div>
                        <div class="volumeU">
                        <div class="volumeD"></div>
                        </div>
                    </div>
                    <div class="total-y col">
                        <div class="celular">
                            <div class="pelicula">
                                <header class="topo">
                                    <div class="camera">
                                         <div class="cameraL">
                                             <div class="flash"></div>
                                         </div>
                                        </div>
                                    <div class="linha">
                                        <div class="opera1"></div>
                                        <div class="opera2"></div>
                                        <div class="opera3"></div>
                                        <div class="opera4"></div>
                                        <div class="opera5"></div>

                                    </div>
                                    <div class="bat"></div>
                                </header>
                            </div>
                        </div>
                        <div class="volumeU">
                        <div class="volumeD"></div>
                        </div>
                    </div>
                    <div class="total-z col">
                        <div class="celular">
                            <div class="pelicula">
                                <header class="topo">
                                    <div class="camera">
                                         <div class="cameraL">
                                             <div class="flash"></div>
                                         </div>
                                        </div>
                                    <div class="linha">
                                        <div class="opera1"></div>
                                        <div class="opera2"></div>
                                        <div class="opera3"></div>
                                        <div class="opera4"></div>
                                        <div class="opera5"></div>

                                    </div>
                                    <div class="bat"></div>
                                </header>
                            </div>
                        </div>
                        <div class="volumeU">
                        <div class="volumeD"></div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin: 1%; justify-content: center">
                    <div class="element-card col">
                        <div class="front-facing">
                            <h1 id="actual-Giroscopio" class="abr">0</h1>
                            <p class="title">Radianes / s</p>
                        </div>
                    </div>
                    <div class="element-card col">
                        <div class="front-facing">
                            <h1 id="actual-Giroscopio" class="abr">0</h1>
                            <p class="title">Radianes / s</p>
                        </div>
                    </div>
                    <div class="element-card col">
                        <div class="front-facing">
                            <h1 id="actual-Giroscopio" class="abr">0</h1>
                            <p class="title">Radianes / s</p>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin: 1%; justify-content: center">
                    <div class="col-lg-9 col-xl-7">
                        <div class="card shadow mb-4">
                            <div class="card-header d-flex justify-content-between align-items-center">
                                <h6 class="text-primary fw-bold m-0">Rotación del dispositivo</h6>
                                <div class="dropdown no-arrow"><button class="btn btn-link btn-sm dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button"><i class="fas fa-ellipsis-v text-gray-400"></i></button>
                                    <div class="dropdown-menu shadow dropdown-menu-end animated--fade-in">
                                        <p class="text-center dropdown-header">Filtros</p><a class="dropdown-item" href="#">&nbsp;Por minuto</a><a class="dropdown-item" href="#">&nbsp;Por hora</a>
                                        <div class="dropdown-divider"></div><a class="dropdown-item" href="#">&nbsp;Por dia</a>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="chart-area"><canvas id="grafica-Giroscopio"></canvas></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="Magnetómetro" style="display: none">
                <div class="row" style="margin: 1%; justify-content: center; position: relative">
                    <img src="static/img/brujula.png" style="width: 250px;">
                    <div class="brujula"><h4 class="text-magne">13 &microT</h4></div>
                </div>
                <div class="row" style="margin: 1%; justify-content: center">
                    <div class="element-card col">
                        <div class="front-facing">
                            <h1 id="actual-Magnetómetro-x" class="abr">0</h1>
                            <p class="title">&microT</p>
                        </div>
                    </div>
                    <div class="element-card col">
                        <div class="front-facing">
                            <h1 id="actual-Magnetómetro-y" class="abr">0</h1>
                            <p class="title">&microT</p>
                        </div>
                    </div>
                    <div class="element-card col">
                        <div class="front-facing">
                            <h1 id="actual-Magnetómetro-z" class="abr">0</h1>
                            <p class="title">&microT</p>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin: 1%; justify-content: center">
                    <div class="col-lg-9 col-xl-7">
                        <div class="card shadow mb-4">
                            <div class="card-header d-flex justify-content-between align-items-center">
                                <h6 class="text-primary fw-bold m-0">Fuerza del campo magnético</h6>
                                <div class="dropdown no-arrow"><button class="btn btn-link btn-sm dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button"><i class="fas fa-ellipsis-v text-gray-400"></i></button>
                                    <div class="dropdown-menu shadow dropdown-menu-end animated--fade-in">
                                        <p class="text-center dropdown-header">Filtros</p><a class="dropdown-item" href="#">&nbsp;Por minuto</a><a class="dropdown-item" href="#">&nbsp;Por hora</a>
                                        <div class="dropdown-divider"></div><a class="dropdown-item" href="#">&nbsp;Por dia</a>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="chart-area"><canvas id="grafica-Magnetómetro"></canvas></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="Podómetro" style="display: none">
                <div class="row">
                    <div class="man">

                      <div class="arm front">
                        <div class="arm__top">
                          <div class="arm__fore"></div>
                        </div>
                      </div>

                      <div class="arm back">
                        <div class="arm__top">
                          <div class="arm__fore"></div>
                        </div>
                      </div>

                      <div class="head">
                        <div class="head__hair"></div>
                        <div class="head__ear"></div>
                        <div class="head__nose"></div>
                        <div class="head__eye"></div>
                      </div>

                      <div class="body">
                        <div class="body__belly"></div>
                      </div>
                      <div class="pelvis"></div>
                      <div class="leg">
                        <div class="leg__top">
                          <div class="leg__fore"></div>
                        </div>
                      </div>
                      <div class="leg back">
                        <div class="leg__top">
                          <div class="leg__fore"></div>
                        </div>
                    </div>
                </div>
                    <div class="element-card col">
                        <div class="front-facing">
                            <h1 id="actual-Podómetro" class="abr">0</h1>
                            <p class="title">Pasos</p>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin: 1%; justify-content: center">
                    <div class="col-lg-9 col-xl-7">
                        <div class="card shadow mb-4">
                            <div class="card-header d-flex justify-content-between align-items-center">
                                <h6 class="text-primary fw-bold m-0">Pasos</h6>
                                <div class="dropdown no-arrow"><button class="btn btn-link btn-sm dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button"><i class="fas fa-ellipsis-v text-gray-400"></i></button>
                                    <div class="dropdown-menu shadow dropdown-menu-end animated--fade-in">
                                        <p class="text-center dropdown-header">Filtros</p><a class="dropdown-item" href="#">&nbsp;Por minuto</a><a class="dropdown-item" href="#">&nbsp;Por hora</a>
                                        <div class="dropdown-divider"></div><a class="dropdown-item" href="#">&nbsp;Por dia</a>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="chart-area"><canvas id="grafica-Podómetro"></canvas></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="Proximidad" style="display: none">
                <div class="row" style="margin: 1%; justify-content: center; align-items: center;">
                    <div class="col-4">
                        <div class="row" style="display: flex; margin-bottom: 10%"><h4 class="text-proximo">Proximo</h4></div>
                        <div class="row" style="display: flex"><h4 class="text-alejado">Alejado</h4></div>
                    </div>
                    <div class="col" id="graph" style="align-items: center"></div>
                </div>
                <div class="row" style="margin: 1%; justify-content: center">
                    <div class="element-card col">
                        <div class="front-facing">
                            <h1 id="actual-Proximidad" class="abr">0</h1>
                            <p class="title">cm</p>
                        </div>
                    </div>
                    </div>
                <div class="row" style="margin: 1%; justify-content: center">
                    <div class="col-lg-9 col-xl-7">
                        <div class="card shadow mb-4">
                            <div class="card-header d-flex justify-content-between align-items-center">
                                <h6 class="text-primary fw-bold m-0">Proximidad</h6>
                                <div class="dropdown no-arrow"><button class="btn btn-link btn-sm dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button"><i class="fas fa-ellipsis-v text-gray-400"></i></button>
                                    <div class="dropdown-menu shadow dropdown-menu-end animated--fade-in">
                                        <p class="text-center dropdown-header">Filtros</p><a class="dropdown-item" href="#">&nbsp;Por minuto</a><a class="dropdown-item" href="#">&nbsp;Por hora</a>
                                        <div class="dropdown-divider"></div><a class="dropdown-item" href="#">&nbsp;Por dia</a>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="chart-area"><canvas id="grafica-Proximidad"></canvas></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="Luminosidad" style="display: none">
                <div class="row" style="margin: 1%; justify-content: center">
                    <div id="box">
                      <p id="flashlight">
                        <span id="light">LIGHT</span>
                      </p>
                    </div>
                </div>
                <div class="row" style="margin: 1%; justify-content: center">
                    <div class="element-card col">
                        <div class="front-facing">
                            <h1 id="actual-Luminosidad" class="abr">0</h1>
                            <p class="title">lúmenes</p>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin: 1%; justify-content: center">
                    <div class="col-lg-9 col-xl-7">
                        <div class="card shadow mb-4">
                            <div class="card-header d-flex justify-content-between align-items-center">
                                <h6 class="text-primary fw-bold m-0">Luminosidad</h6>
                                <div class="dropdown no-arrow"><button class="btn btn-link btn-sm dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button"><i class="fas fa-ellipsis-v text-gray-400"></i></button>
                                    <div class="dropdown-menu shadow dropdown-menu-end animated--fade-in">
                                        <p class="text-center dropdown-header">Filtros</p><a class="dropdown-item" href="#">&nbsp;Por minuto</a><a class="dropdown-item" href="#">&nbsp;Por hora</a>
                                        <div class="dropdown-divider"></div><a class="dropdown-item" href="#">&nbsp;Por dia</a>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="chart-area"><canvas id="grafica-Luminosidad"></canvas></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="GPS" style="display: none">
                <div class="row" style="margin: 1%; justify-content: center">
                    <div id="map" class="map"></div>
                </div>
                <div class="row" style="margin: 1%; justify-content: center">
                    <div class="element-card col">
                        <div class="front-facing">
                            <h1 id="actual-GPS" class="abr">0</h1>
                            <p class="title">Latitud</p>
                        </div>
                    </div>
                    <div class="element-card col">
                        <div class="front-facing">
                            <h1 id="actual-GPS" class="abr">0</h1>
                            <p class="title">Longitud</p>
                        </div>
                    </div>
                    <div class="element-card col">
                        <div class="front-facing">
                            <h1 id="actual-GPS" class="abr">0</h1>
                            <p class="title">Altitud</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>

    <footer class="page-footer dark"></footer>

    <script src="static/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.js"></script>
    <script src="static/js/vanilla-zoom.js"></script>
    <script src="static/js/theme.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
    <script src="static/js/jquery-6.0.0-min.js"></script>
    <script src="static/js/visualizacionDatos.js"></script>

    <script src="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/build/ol.js"></script>
    <script src="static/js/ol-ext/ol-ext.js"></script>
    <script src="static/js/ol-layerswitcher.js"></script>
    <script type="text/javascript" src="static/js/mapa.js"></script>

    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="static/js/proximidad.js"></script>

    <script>
        var sensor = "{{ sensor }}";
        var sensoresEncendidos = [];
        {% for sensor in sensoresEncendidos %}
            sensoresEncendidos.push("{{ sensor }}");
        {% endfor %}

        window.onload = onload();
    </script>

    <script type="text/javascript">
        google.charts.load('current', {'packages':['gauge']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

            var data = google.visualization.arrayToDataTable([
                ['Label', 'Value'],
                ['Barómetro', 0],

            ]);

            var options = {
                width: 600, height: 180,
                redFrom: 87, redTo: 100,
                yellowFrom:75, yellowTo: 87,
                minorTicks: 5
            };

            var chart = new google.visualization.Gauge(document.getElementById('chart_div'));

            chart.draw(data, options);



        }
    </script>
</body>

</html>